# Prerequisites
*.d

#Visual C++ cache files
**/.vs
*.idb
*.pdb
*.log
*.tlog
*.exp
*.iobj
*.ipdb
*.ilk

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.opendb
*.db
*.suo

# unwanted files
/Engine/Beta/Engine_UWP/BinaryModelConverter/ModelConverter/Models/*

#Exceptions
!/Engine/Beta/Engine/TestGame/Assets/**/*.obj
!/Engine/Beta/Engine_UWP/TestGame_UWP/Assets/**/*.obj
SEF Model Converter/SceneElementConverter/SceneElementConverter/FBX/libfbxsdk-mtd.lib
